In [1]:
#Create a simple DataFrame for the comapany
#Creat a sales dataframe for 3 months sales for a ficiticious comapany.

In [29]:
import pandas as pd

In [11]:
# Following is the table. Create this table using dictionary.

# account    Jan Feb  Mar
#0 Jones LLC 150  200  140
#1 Alpha Co  200 210   215
#2 Blue Inc  50  90   95

In [12]:
# You can do it with 3 different methods.

In [21]:
#1: ** Row oriented approach**... *-- List of DIctionaries --*... So, [] is outside,{} is inside

sales = [{"Account":"Jones LLc","Jan":150,"Feb":200,"Mar":140},
         {"Account":"Alpha Co","Jan":200,"Feb":210,"Mar":215},
         {"Account":"Blue Inc","Jan":50,"Feb":90,"Mar":95}]
sales_df = pd.DataFrame(sales)
sales_df

     Account  Feb  Jan  Mar
0  Jones LLc  200  150  140
1   Alpha Co  210  200  215
2   Blue Inc   90   50   95

In [22]:
#2: *Column oriented approach*...*-- Dictionaries of Lists --* ...So, {} outside and [] inside

sales = {"Account": ["Jones LLc","Alpha CO","Blue Inc"],
         "Jan": [150,200,50],
         "Feb": [200,210,90],         
         "Mar": [140,215,95]}
sales_df = pd.DataFrame(sales)         
sales_df

     Account  Feb  Jan  Mar
0  Jones LLc  200  150  140
1   Alpha CO  210  200  215
2   Blue Inc   90   50   95

In [ ]:
# Note that, in both the tables above, the order of the columns is not preserved
# To preserve, simply do ---> sales_df = sales_df [["Account","Jan","Feb","Mar"]]
# i.e give the order you want to appear in the table.

In [28]:
sales_df = sales_df [["Account","Jan","Feb","Mar"]]
sales_df

     Account  Jan  Feb  Mar
0  Jones LLc  150  200  140
1   Alpha CO  200  210  215
2   Blue Inc   50   90   95